.nav {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    a {
        color: white;
        text-decoration: none;
    }
    .brand {
        display: flex;
        column-gap: 1em;
        a:first-child {
            img {
                border: 1px solid white;
            }
        } 
        a:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                font-family: "Montserrat", sans-serif;
                text-align: center;
                &:first-child {
                    font-size: 1em;
                }
                &:last-child {
                    font-size: 1.5em;
                }
            }
        }
    }
    ul {
        display: flex;
        column-gap: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}